<!DOCTYPE html>

<html>

<head>
    <title> Primera Clase</title>
    <style>

        .center {
            text-align: center;
        }

        .center img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>

</head>

<body>
    
    <div class="center"> 
        <h1>Bienvenidos a la primera clase</h1>
        <p>Esta es la actividad de asistencia de la semana 1 </p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxVh5o4p317-sNGMelEPY599pWsh0UL75x2g&s" alt="programando" />



    </div>

</body>
</html>